<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rihao.property.modules.inspection.mapper.InspectionFileMapper">

    <select id="selectByQueryParam" resultType="com.rihao.property.modules.inspection.vo.InspectionFileVo">
        SELECT o.*
        FROM tb_inspection_file o
        <where>
            <if test="params.inspectionId !=null">
                and o.`inspection_id` = #{params.inspectionId}
            </if>
        </where>
    </select>


    <delete id="deleteFileByNotExist">
        DELETE  from tb_inspection_file  where
        inspection_Id = #{inspectionId}
        <if test="ids != null">
            <foreach collection="ids" item="id" open="" close="" separator="">
                and id != #{id}
            </foreach>
        </if>
    </delete>

</mapper>
