<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rihao.property.modules.inspection.mapper.InspectionMapper">

    <select id="selectByQueryParam" resultType="com.rihao.property.modules.inspection.vo.InspectionVo">
        SELECT o.*, p.name as parkName
        FROM tb_inspection o
        join tb_park p on o.park_id = p.id
        <where>
                <choose  >
                   <when test="params.likeParam !=null and params.likeParam !=''">
                       and (  o.`title` LIKE #{params.title} or o.`inspector` LIKE #{params.inspector})
                   </when>
                   <otherwise>
                       <if test="params.location !=null ">
                         and   o.`location` LIKE #{params.location}
                       </if>
                       <if test="params.inspector !=null">
                           and  o.`inspector` LIKE #{params.inspector}
                       </if>
                       <if test="params.title !=null">
                           and o.`title` LIKE #{params.title}
                       </if>
                   </otherwise>
                 </choose>
            <if test="params.parkIds !=null">
                and o.`park_id` in
                <foreach item="item" index="index" collection="params.parkIds.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>