<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rihao.property.modules.estate.mapper.ParkMapper">

    <select id="selectByQueryParam" resultType="com.rihao.property.modules.estate.vo.ParkVo">
        SELECT o.*, e.name as est_name
        FROM tb_park o join tb_establish e on o.est_id = e.id
        <where>
            <if test="params.name !=null">
                and o.`name` LIKE #{params.name}
            </if>
            <if test="params.parkIds !=null">
                and o.`id` in
                <foreach item="item" index="index" collection="params.parkIds.split(',')" open="(" separator=","
                         close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="statisticParks" resultType="com.rihao.property.modules.report.vo.ParkStatisticVo">
        SELECT (SELECT IFNULL(COUNT(1), 0)
                FROM tb_park)            AS parks,
               (SELECT IFNULL(COUNT(1), 0)
                FROM tb_building)        AS buildings,
               (SELECT IFNULL(COUNT(1), 0)
                FROM tb_unit)            AS units,
               (SELECT IFNULL(COUNT(1), 0)
                FROM tb_ent
                where signup_status = 2) AS ents
        FROM DUAL
    </select>

</mapper>
